$gray: #dedede;
$med-gray: #777;
$drk-gray: #555;
$font: Helvetica, sans-serif;

* {
  &:after,
  &:before {
    box-sizing: border-box;
  }

  box-sizing: border-box;
}

body {
  font-family: $font;
  color: $med-gray;
  background: $gray;
  height: 100%;
}

strong {
  font-weight: bold;
}

.clearfix {
  &:after {
    content: ' ';
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
  }
}

.drk-gray {
  color: $drk-gray;
}

.page {
  margin: 10px auto;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.head {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #000;
}

.head-title {
  float: left;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: $drk-gray;
}

.menu-nav {
  float: right;
  margin: 15px 10px 0;
}

.menu-nav-item {
  display: inline-block;
  padding: 2px 5px;

  a {
    color: $drk-gray;
    text-decoration: none;
  }
}

//content
.content {
  margin: 0 auto;
  padding: 20px 10px;
  min-height: 400px;
}

//create form
.home-content{
  max-width: 600px;
  margin: 20px auto;
}

.create-form {
  width: 100%;
}

.field {
  padding: 10px;

  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: $med-gray;
  }
}

.field-lbl {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.actions {
  text-align: right;

  button {
    padding: 10px;
    background: blue;
    color: #fff;
    cursor: pointer;
  }
}

//game
.game-info {
  max-width: 600px;
  font-size: 14px;
  margin: 0 auto 15px;
}

//board
.row {
  text-align:center;
  line-height: 0;
  display: flex;
  justify-content: center;

  &:first-child {
    .cell {
      border-top: 0;
    }
  }

  &:last-child {
    .cell {
      border-bottom: 0;
    }
  }

  .cell:first-child {
    border-left: 0;
  }

  .cell:last-child {
    border-right: 0;
  }
}

.cell {
  display: inline-block;
  border: 1px solid $gray;
  background: #fff;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.cell-content {
  line-height: 50px;
  // color: $drk-gray;
}

//404
.error-content {
  width: 600px;
  margin: 20px auto;

  h2 {
    font-size: 24px;
    color: $med-gray;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
  }
}