$gray: #dedede;
$font: Helvetica, sans-serif;

body {
  font-family: $font;
}

.clearfix {
  &:after {
    content: ' ';
    visibility: hidden;
    margin: 0;
    padding: 0;
    height: 0;
    clear: both;
  }
}

.page {
  max-width: 800px;
  margin: 10px auto;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.head {
  max-width: 900px;
  margin: 10px auto;
  padding: 10px 5px 15px;
  border-bottom: 1px solid #000;
}

.head-title {
  float: left;
  font-size: 40px;
  // line-height: 32px;
  font-weight: bold;
  text-align: center;
  color: $gray;
}

//content
.content {
  float: left;
  padding: 10px;
  min-height: 400px;
  width: 600px;
}

//board
.row {
  text-align:center;

  &:first-child {
    .cell {
      border-top: 0;
    }
  }

  &:last-child {
    .cell {
      border-bottom: 0;
    }
  }

  .cell:first-child {
    border-left: 0;
  }

  .cell:last-child {
    border-right: 0;
  }
}

.cell {
  display: inline-block;
  border: 1px solid $gray;
  height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.cell-content {
  flex: 1 0 auto;
  // margin: auto;
  // align-self: center;
}