<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body>
    <div class="page">
      <div class="head clearfix">
        <h1 class="head-title">tic tac toe</h1>
        <ul class="menu-nav">
          <li class="menu-nav-item"><a href="/">home</a></li>
        </ul>
      </div>
      <div class="content error-content">
        <h2>404 mofo</h2>
        <p>{{ message }}<p>
      </div>
    </div>
  </body>
</html>